@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.styleCardDiv {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    margin-top: 10px;
    margin-left: 120px;

}

.styleCardDetail {
    width: 370px;
    background-color: #d7dbde;
    padding: 10px;
    border-radius: 10px;
    margin-block: 35px;
    transition: 0.8s;
}

.styleCard {
    width: 370px;
    background-color: #d7dbde;
    padding: 10px;
    border-radius: 10px;
    margin-block: 35px;
    transition: 0.8s;
}

.styleCard:hover{
    transform: scale(1.1) translateY(-2px);
}

.imgCard {
    width: 100%;
    margin-bottom: 5px;
    height: 450px;
    border-radius: 10px;
}

.nameContainer{
    display: flex;
    justify-content: center;
    margin-block: 5px;
}

.nameCard{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: rgba(17, 91, 17, 0.862);
    margin-bottom: 5px;
}

.descriptionCard{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.priceContainer{
    display: flex;
    justify-content: center;
    margin-block: 5px;
}

.priceCard{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(3, 3, 3, 0.705);
    margin-bottom: 5px;
}

