@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.LogoImg{
   max-width: 50px;
}
.conteinerNav{
    background-color: black;
}

.categoryStyle{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
}

.categoryStyleTitle{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.767);
}