
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.contenedorFooter{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.557);
    display: flex;
    justify-content: center;
}
.infoFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}
.direccionFooter{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 1rem;
    color: white;
}
.whatsappFooter{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.661);
    display: flex;
    justify-content: center;
}
.horariosFooter{
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.696);
    display: flex;
    justify-content: center;
}